@{
    Layout = "_Layout";
}
@model StylesViewModel

<div class="container-fluid">
    <div class="col mt-4">
        <h1>@(@Model.IdStyle != 0 ? "Édition d'un style" : "Création d'un style")</h1>
        <hr />
        <form class="m-0 py-0" method="post">
            <input asp-for="@Model.IdStyle" type="hidden" />
            <div class="d-flex flex-row mr-4">
                <div class="title-input-edit col-1 p-0 mt-2 d-flex flex-row">Nom du style<div class="text-danger ml-1">*</div></div>
                <div class="d-flex flex-column col-4 mb-4 w-100">
                    <input class="form-control" type="text" asp-for="@Model.Libelle">
                    <span asp-validation-for="@Model.Libelle" class="text-danger"></span>
                </div>
                <div class="col-7 p-0 ml-4">
                    <button asp-area="Administration" asp-controller="Styles" asp-action="@(nameof(StylesController.Manage))" class="btn btn-primary width-button-save">
                        @(@Model.IdStyle != 0 ? "Sauvegarder" : "Ajouter")
                    </button>
                </div>
            </div>
        </form>
        <div class="mt-5">
            <a asp-action="Index">Retour à l'administration des styles</a>
        </div>
    </div>
</div>