@{
    Layout = "_Layout";
}
@model ManageArtistesViewModel

<div class="container-fluid">
    <div class="col mt-4">
        <h1>@(@Model.Artiste.IdArtiste != 0 ? "Édition d'un artiste" : "Création d'un artiste")</h1>
        <hr />
        <form class="m-0 py-0" method="post">
            <input asp-for="@Model.Artiste.IdArtiste" />
            <div class="d-flex flex-column">
                <div class="d-flex flex-row mr-4">
                    <div class="title-input-edit col-1 p-0 mt-2 d-flex flex-row">Nom de l'artiste<div class="text-danger ml-1">*</div></div>
                    <div class="d-flex flex-column mb-4 w-100">
                        <input class="form-control" type="text" asp-for="@Model.Artiste.NomArtiste">
                        <span asp-validation-for="@Model.Artiste.NomArtiste" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">

                    <label for="paysName" class="col col-form-label">Nom du pays<div class="text-danger ml-1">*</div></label>
                    <div class="col-11">
                        <select class="custom-select" asp-for="@Model.Artiste.IdPays" asp-items="@Model.Pays"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dateSortie" class="col-1 col-form-label d-flex flex-row">Date de sortie</label>
                    <div class="col-4">
                        <input type="date" class="form-control" asp-for="@Model.Artiste.DateNaissance" />
                    </div>
                </div>
                <div class="d-flex flex-row mr-4">
                    <p class="title-input-edit col-1 p-0 mt-2">Biographie</p>
                    <textarea class="form-control mb-4" rows="10" asp-for="@Model.Artiste.Biographie"></textarea>
                </div>
            </div>

            <div class="col p-0">
                <div class="col-10 offset-1 p-0">
                    <button asp-area="Administration" asp-controller="Artistes" asp-action="@(nameof(ArtistesController.Manage))" class="btn btn-primary width-button-save">
                        @(Model.Artiste.IdArtiste != 0 ? "Sauvegarder" : "Ajouter")
                    </button>
                </div>
            </div>
</form>
    </div>
    <div class="mt-5">
        <a asp-action="Index">Retour à l'administration des artistes</a>
    </div>
</div>